.grid-container--dashboard {
  --gap: 2rem;
  padding: 0.5em 2em;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
    "review review review review orders orders"
    "review review review review statistics statistics "
    "storage storage marketing marketing employees employees"
  ;
}

.card--review {
  grid-area: review;
}

.card--orders {
  grid-area: orders;
}