// Grid positioning
.grid-container--dashboard {
  --gap: 2rem;
  padding: 0.5rem 2rem;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
    "review review review review orders orders"
    "review review review review storage storage"
    "statistics statistics marketing marketing employees employees"
  ;
}

.card--review {
  grid-area: review;
}

.card--orders {
  grid-area: orders;
}

.card--storage {
  grid-area: storage;
}

.card--statistics {
  grid-area: statistics;
}

.card--marketing {
  grid-area: marketing;
}

.card--employees {
  grid-area: employees;
}

// Different spacing cards
.card-content--review {
  --flow-space: clamp(2rem, 6vw, 10rem);
}

.card--statistics,
.card--marketing,
.card--employees {
  --flow-space: 1rem;
}