.login-form {
  justify-content: center;
  background: #{'hsl(var(--clr-dark), .8)'};
  height: 100vh;
  width: 23em;
  padding: 6vh 3em 18vh;
  box-shadow: 0 0 30px 50px #{'hsl(var(--clr-dark), .8)'};
}

@media screen and (max-width: 680px) {
  .login-form {
    justify-content: flex-start;
    background: #{'hsl(var(--clr-dark), .8)'};
    width: 100vw;
    padding: 10vh 2em;
    box-shadow: none;
  }
}

// Form content
.login-form-title {
  text-align: center;
}

.login-form__inputs {
  --flow-space: 2rem;
}

.login-form-input {
  position: relative;
  border: none;
  border-bottom: 1px solid #{'hsl(var(--clr-white--shade), .7)'};
  background: rgba(1, 1, 1, 0.0);
  width: 100%;
  padding: .25em .5em;
}

.login-form-input:focus {
  outline: none;
  border-bottom: 1px solid #{'hsl(var(--clr-white), .95)'};
  color: #{'hsl(var(--clr-white), .95)'};
}

// Make browser autocomplete transparent
.login-form-input:-webkit-autofill,
.login-form-input:-webkit-autofill:hover,
.login-form-input:-webkit-autofill:focus,
.login-form-input:-webkit-autofill:active {
  transition: "color 9999s ease-out, background-color 9999s ease-out";
  transition-delay: 9999s;
}

.login-form>.btn--submit {
  --flow-space: 3rem;
  width: 75%;
  margin-inline: auto;
}