// Orders
.column-orders--id {
  min-width: 4em;
}

.column-orders--client {
  min-width: 8em;
}

.column-orders--meal {
  min-width: 10em;
}

.column-orders--quantity {
  min-width: 6em;
}

.column-orders--dlvr-place {
  min-width: 10em;
}

.column-orders--dlvr-postcode {
  min-width: 8em;
}

.column-orders--order-date {
  min-width: 7em;
}

.column-orders--shipment-date {
  min-width: 8em;
}

.column-orders--pickup-date {
  min-width: 7em;
}

.column-orders--order-type {
  min-width: 6em;
}

@media screen and (max-width: 1279px) {
  .column-orders--dlvr-postcode {
    min-width: 4em;
  }
}

// Storage
.column-storage--id {
  min-width: 4em;
}

.column-storage--item-name {
  min-width: 10em;
}

.column-storage--quantity {
  min-width: 6em;
}

.column-storage--unit {
  min-width: 4em;
}

.column-storage--recommended-amount {
  min-width: 12em;
}

@media screen and (max-width: 1279px) {
  .column-storage--recommended-amount {
    min-width: 8em;
  }
}