// Storage
.column-orders--id {
  width: 1em;
}

.column-orders--client {
  width: 3em;
}

.column-orders--meal {
  width: 3em;
}

.column-orders--quantity {
  width: 1em;
}

.column-orders--dlvr-place {
  width: 4em;
}

.column-orders--dlvr-postcode {
  width: 3em;
}

.column-orders--order-date {
  width: 2.5em;
}

.column-orders--shipment-date {
  width: 2.5em;
}

.column-orders--pickup-date {
  width: 2.5em;
}

.column-orders--order-type {
  width: 2em;
}

// Orders