@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Source+Sans+Pro:ital@1&display=swap');
/* ======================== */
/*      Variables           */
/* ======================== */

:root {
  // Colors
  --clr-primary: hsl(45, 94%, 56%);
  --clr-primary--tint: hsl(45, 69%, 71%);
  --clr-dark: hsl(180, 20%, 2%);
  --clr-dark-tint: hsl(200, 25%, 5%);
  --clr-gray: hsl(200, 23%, 10%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-white--shade: hsl(0, 0%, 85%);
  --clr-error: hsl(4, 100%, 61%);
  --clr-warning: hsl(41, 100%, 62%);
  --clr-dark-copy: 180, 20%, 2%;

  // Font sizes
  --fs-800: 3rem;
  --fs-700: 2.5rem;
  --fs-600: 2rem;
  --fs-500: 1.3rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  // Font-families
  --ff-roboto: 'Roboto', sans-serif;
  --ff-sans: 'Source Sans Pro', sans-serif;
}

/* ======================== */
/*      CSS Reset           */
/* ======================== */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  background: var(--clr-dark);
  min-height: 100vh;
  font-family: var(--ff-sans);
  font-size: var(--fs-400);
  line-height: 1.5;
  color: var(--clr-white);
  text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: unset;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
  }
}

.material-icons {
  vertical-align: middle;
  font-size: inherit;
}

/* ======================== */
/*    Utility classes       */
/* ======================== */

// Display classes
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.vertical-center {
  display: flex;
  align-items: center;
}

.flow>*:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}

.flow--space--small {
  --flow-space: .75rem;
}

.flow--horizontal>*:where(:not(:first-child)) {
  margin-left: var(--flow-space, 1rem);
}

.container {
  max-width: 80rem;
  padding-inline: 2em;
  margin-inline: auto;
}

// Color classes
.bg-primary {
  background: var(--clr-primary);
}

.bg-dark {
  background: var(--clr-dark);
}

.bg-dark--tint {
  background: var(--clr-dark--tint);
}

.text-white {
  color: var(--clr-white);
}

.text-white--shade {
  color: var(--clr-white--shade);
}

.text-primary {
  color: var(--clr-primary);
}

.text-primary--tint {
  color: var(--clr-primary--tint);
}

.text-dark {
  color: var(--clr-dark);
}

.text-warning {
  color: var(--clr-warning);
}

.text-error {
  color: var(--clr-error);
}

// Typography
.ff-roboto {
  font-family: var(--ff-roboto);
}

.ff-sans {
  font-family: var(--ff-sans);
}

.letter-spacing-1 {
  letter-spacing: 1px;
}

.letter-spacing-2 {
  letter-spacing: 2px;
}

.letter-spacing-3 {
  letter-spacing: 4px;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-200 {
  font-size: var(--fs-200);
}

.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

.fw-600 {
  font-weight: 600;
}

/* ======================== */
/*       Google Icons       */
/* ======================== */

h1>.material-icons,
h2>.material-icons {
  margin-right: 0.25em;
}

p>.material-icons {
  margin-right: 0.5em;
}

/* ======================== */
/*        Components        */
/* ======================== */

// Navbar
.nav {
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2.25rem;
}

.nav-right {
  --gap: 0;
  --flow-space: 2.25rem;
  align-items: center;
}

.nav-right__links {
  --gap: 0;
  --flow-space: 2.25rem;
  margin: 0;
  list-style: none;
}

// Button
.btn {
  display: block;
  border: none;
  border-radius: 1em;
  padding: 0.5em 1em;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

.btn:focus {
  opacity: 0.7;
}

// Card
.card {
  --flow-space: 2rem;
  border-radius: 0.5rem;
  background: var(--clr-dark-tint);
  padding: 1rem 2rem 1.5rem;
}

.card-content {
  margin-top: 0.5rem;
}

.card-content-value {
  margin-left: 0.25em;
  font-weight: 400;
}

.card-content--orders {
  --gap: 0.25em;
}

// Highlighted Row
.highlighted-row {
  justify-content: space-between;
  align-items: center;
  border-radius: 0.25em;
  padding: 0.1em 0.3em;
}

.highlighted-row__icon {
  display: none !important;
}

.highlighted-row:hover {
  background: var(--clr-gray);

}

.highlighted-row:hover .highlighted-row__icon {
  display: block !important;
}

/* ======================== */
/*         Imports          */
/* ======================== */
@import "_dashboard.scss";
@import "_login.scss";