

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: unset;
    color: unset;
}

body {
    /* background-color: aliceblue; */
    padding: 1em 2em;
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__brand {
    font-size: 2rem;
    font-family: sans-serif;
    color: royalblue;
    margin-left: 3px;
    /* font-weight: 700; */
}

.nav-links {
    display: flex;
    gap: 1.5em;
    align-items: center;
    list-style: none;
}

.nav__link {
    font-size: 1.5rem;
    font-family: sans-serif;
}

.btn--log-out {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    color: #ffffff;
    border-radius: 0.25em;
    background-color: royalblue;
    height: 1em;
}

.cards-container {
    margin-top: 1.5em;
    margin-inline: auto;
    display: grid;
    width: 100%;
    /* max-width: 83em; */
    height: 100%;
    gap: 1.5em;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
        "week week week week orders orders"
        "week week week week statistics statistics "
        "storage storage marketing marketing employees employees"
    ;
}

.week-review {
    grid-area: week;
}

.orders {
    grid-area: orders;
}

.marketing {
    grid-area: marketing;
}

.statistics {
    grid-area: statistics;
}

.storage {
    grid-area: storage;
}

.employees {
    grid-area: employees;
}

.card {
    background-color: #ffffff;
    padding: 2em 2em;
    border-radius: 0.5em;
    box-shadow: 0px 8px 21px 3px rgba(211, 211, 211, 0.6);
}

.card h1 {
    font-family: sans-serif;
    color: rgba(1, 1, 1, 0.85);
    margin-bottom: 0.5em;
}

.card h1:where(:not(:first-child)) {
    margin-top: 0.75em;
}

.card h2 {
    font-family: sans-serif;
    color: rgba(1, 1, 1, 0.85);
    font-weight: normal;
    margin-bottom: 0.25em;
}

.card h1,
.card h2 {
    display: flex;
    align-items: center;
}

.card h1 .material-icons,
.card h2 .material-icons {
    margin-right: 0.5em;
}

.card h1 .material-icons {
    font-size: 32px;
    object-fit: cover;
    color: royalblue;
}

.card h2 .material-icons {
    color: rgba(1, 1, 1, 0.85);
}

.card p {
    font-family: sans-serif;
    color: rgba(1, 1, 1, 0.85);
    font-size: 1.2rem;
    padding-block: 0.1em;
    display: flex;
    align-items: center;
}

.card p span.material-icons {
    color: rgba(1, 1, 1, 0.85);
    margin-right: 0.5em;
}

.card p span {
    color: rgba(1, 1, 1, 0.6);
}

.card a {
    display: block;
    font-family: sans-serif;
    color: rgba(1, 1, 1, 0.65);
}

.week-review__content {
    display: flex;
    gap: 6em;
}

.week-review__content-progress {
    font-size: 2.5rem;
    font-weight: 500;
    font-family: sans-serif;
    color: royalblue;
    text-align: center;
}

.highlighted-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25em 0.5em 0.25em 0.25em;
    border-radius: 0.25em;
}

.highlighted-row__icon {
    display: none !important;
}

.highlighted-row:hover {
    background: rgba(211, 211, 211, 0.6);
}

.highlighted-row:hover .highlighted-row__icon {
    display: block !important;
}

.warning {
    color: rgb(255, 174, 0) !important;
}

.error {
    color: rgb(243, 16, 0) !important;
}